.div1{
    position: relative;
    height: 91px;
    width: 100%;
    background-color: white;
}

.div2{
    position: relative;
    float: left;
    margin-left: 150px;
    margin-top: 10px;
    
}

.div3{
    position: relative;
    float: left;
    margin-top: 20px;
}

.ul1{
    margin-left: 15px;
    position: relative;
    float: left;
    font-size: 30px;
    color:rgb(132, 212, 139);
}

.clearfix{
    clear: both;
}