.div1{
    margin: 0 auto;
    width:1900px;
    height: 950px;
     background-image: url(../img/login1.jpg);
     background-size: 1900PX 1000PX;
     background-repeat: no-repeat;
     padding-top: 70px;
     padding-left: 300px;
 }
 .div2{
    width: 400px;
    height: 700px;
}
.div3{
    width: 400px;
    height: 700px;
}
.div4{
    justify-content: center;
    margin: 0 auto;
    font-size: 50px;
    color: sandybrown;
    margin-left: 80px;
}
.div5{
    margin-top: 15px;
}
.div6{
    font-size: 20px;
    color: sandybrown;;
}
span{
    font-size: 30px;
    color: rgba(46, 20, 4, 0.411);
}
.span1{
    color:red;
    padding-left: 10px;
}
.span1{
    font-size: 30px;
    color:rgb(48, 70, 9);
    cursor: pointer;
}