.div1{
    position: relative;
    margin:0 auto;
    width: 70%;
    height: 900px;
    /* justify-content: center;
    display: flex;
    align-items: center;
    align-content: center; */
    border:2px solid rgb(161, 194, 167);
}

.div2{
    text-align: center;
    font-size: 3em;
    margin: 100px 0 50px 0;
}

.div3{
    text-align: center;
}
/* text-indent:2em; */

.div4{
    text-indent: 2em;   
    font-size: 1.2em;
    margin-bottom: 50px;
}

.div5{
    position: relative;
    float: left;
    width: 60%;
}

.div6{
    float: right;
    margin:250px 50px 0 0;
}

.div7{
    margin-left: 30px;
}

.div8{
    margin-left: 50px;
}

.div9{
    margin: 50px 0 0 80px;
    font-size: x-large;
}

.div10{
    height: 400px;
}

.anniu{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 0 50px;
    cursor: pointer;
}

.clearfix{
    clear: both;
}