.div1{
    position: relative;
    margin: auto;
    width: 80%;
    height: 650px;
    background:url(../img/18.jpg) no-repeat;
    opacity: 0.7;
    background-size:cover;
    /* filter: blur(3px); */
}

.div1 a{
    text-decoration: none;
    color: rgb(11, 241, 11);
}

.div2{
    position: relative;
    float: left;
    color: rgb(246, 250, 0);
    height: 100px;
    margin-left: 50px;
}

.div3{
    position: relative;
    float: left;
    font-size: 2em;
    margin-top: 45px;
    margin-left: 30px;
}

.div4{
    position: relative;
    float: left;    
    font-size: 4em;
    margin-top: 20px;
}

.clearfix{
    clear: both;
}